.idea
__pycache__/
.DS_Store
*.egg-info
.eggs/
.eggs
build/
dist/
examples/
!experiments/
experiments/*
!experiments/JWS/
experiments/JWS/*
!experiments/JWS/programs/
!experiments/JWS/readme.md
!experiments/JWS/sr_mock.py
!experiments/JWS/meteor_mock.py
!experiments/JWS/traffic1.txt
!experiments/KR2022/
!experiments/RR2022/
!experiments/AAAI2022/
!experiments/AAAI2023/
